/* General styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #1b1b1b;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.navbar .navbar-brand {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.navbar .navbar-brand img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #FAFAFA;
  text-align: center;
}

.card {
  background: linear-gradient(#FAFAFA);
  width: 100%; /* Occupy full width of the container */
  max-width: 90%; /* Constrain width on smaller screens */
  box-shadow: 0 6px 10px #201f1f;
  border-radius: 8px;
  border: none;
  font-family: 'Arial', sans-serif;
  margin: 0 auto 20px; /* Center the card horizontally */
  color: #434242;
  text-align: center;
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Ensure padding is included in the width */
  margin-bottom: 110px;
}

.container {
  padding: 20px;
  flex-grow: 1;
}

.form-control,
.form-select {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
}

.form-control:hover,
.form-select:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-primary {
  background-color: #323232;
  border-color: #070707;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #181919;
  border-color: #060606;
}

.alert-success {
  color: #1F2937;
  background-color: #C0C0C0;
  border: 1px solid #dcdcdc;
  font-size: 1rem;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

footer h5 {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 50px;
  font-size: 22px;
}

footer p {
  margin: 0; /* Remove default margin of the paragraph */
  padding: 0 50px;
}

footer ul {
  list-style: none;
  padding: 0;
  padding: 0 50px;
}

footer ul li {
  margin-bottom: 5px;
  padding: 0 50px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: #adb5bd;
}

footer small {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 0 50px;
}

/* Media Queries */
@media (max-width: 768px) { /* Tablet */
  h1 {
    font-size: 32px;
  }
  .card {
    width: 90%; /* Reduce the width slightly */
    margin: 20px auto;
  }
  footer {
    text-align: center;

  }
  footer h5 {
    font-size: 20px;

  }
  footer ul {
    list-style: none;
    padding: 0;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  footer ul li {
    margin-bottom: 5px;
    padding: 0 10px;
  }
  footer p {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) { /* Mobile */
  h1 {
    font-size: 24px;
  }
  .card {
    width: 95%; /* Make the card almost full width */
    margin: 15px auto;
    padding: 10px; /* Add padding for smaller screens */
  }
  .form-control,
  .form-select {
    font-size: 12px;
  }
  footer {
    font-size: 12px;

  }
}
